{% extends 'question_maker/base.html' %}
{% load question_maker_extras %}
{% block body %}

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Word</th>
      <th>is_correct</th>
      <th>Alternate Options</th>
      <th>Random Word</th>
    </tr>
  </thead>
  <tbody>
  {% for synonym in synonyms_list %}
    <form action="{% url 'question_maker:update_synonym' synonym_id=synonym.synonym.id %}" method="POST">
      {% csrf_token %}
    <tr class="has-text-weight-bold">
        <td>{{ forloop.counter }}</td>
        <td>{{ synonym.synonym.word.word }}</td>
        <td></td>
    </tr>
    {% for option in synonym.synonym_answer_options %}
      <tr>
        <td>{{ forloop.counter|to_letter }}</td>
        <td>{{ option.value }}</td>
        <td>{{ option.is_correct }}</td>
        <td>
          <select>
              <option value=None>None</option>
              {% for key, value in synonym.definition_answer_option_alternates_dict.items %}
                <optgroup label="{{ key }}">
                {% for item in value %}
                  <option value="{{ item }}">{{ item }} </option>
                {% endfor %}
              {% endfor %}
          </select>
        </td>
        <td>{{ synonym.random_words|get_random_word:forloop.counter0 }}</td>
        <td>
          <button>New Random Word</button>
        </td>
        <td>
          <input type="text" placeholder="Custom Word">
        </td>
      </tr>

    {% endfor %}
    <tr>
      <td>
        <input type="submit" value="Update Synonym">
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
