{% extends 'question_maker/base.html' %}
{% load question_maker_extras %}
{% block body %}
  <h2>Verbal Questions</h2>
  <form method="POST" action="{% url 'question_maker:create_synonym_question_view' %}">
    {% csrf_token %}
    <input type="submit" value="Create New Synonyms Question">
  </form>
  {% if synonym_questions %}
    <h3>Created Question</h3>
    {% for question in synonym_questions %}

        {% for answer_option in answer_options_list %}
        <div>
          {% for key, value in answer_option.items %}
            {{ key }} -- {{ value }}
          {% endfor %}
        </div>
        {% endfor %}

      {% for key, value in word_serialized.items %}
        {% if key != "id" and key != "word" %}
        <div>
          <label>{{ key }}</label>
          <select>
              {% for item in value %}
              <option value="{{ item }}">{{ item }} </option>
              {% endfor %}
          </select>
        </div>
        {% else %}
          <div>{{ key }} -- {{ value }}<div>
        {% endif %}
      {% endfor %}
    {% for item in definitions %}
      {% for key, value in item.items %}
        {% if key != "id" and key != "word" and key != "word_id" and key != "definition" and key != "partOfSpeech" %}
          {% if value is not None %}
            <div>
              <label>{{ key }}</label>
              <select>
                  {% for item in value %}
                  <option value="{{ item }}">{{ item }} </option>
                  {% endfor %}
              </select>
          </div>
            {% endif %}
        {% else %}
          <div>{{ key }} -- {{ value }}<div>
        {% endif %}
      {% endfor %}
    {% endfor %}
    {% endfor %}
  {% endif %}
{% endblock %}
