{% extends 'question_maker/base.html' %}
{% block body %}
  <h2>Verbal Questions</h2>
  <div>
    <a href="{% url 'question_maker:create_synonym_question_view' %}">Create Synonym Question</a>
  </div>
  <div>
    <a href="{% url 'question_maker:synonyms_questions' %}">Synonyms Questions</a>
  </div>
  <div>
    <a href="{% url 'question_maker:synonyms_view' %}">View Synonyms Questions</a>
  </div>
  <div>
    <a href="{% url 'question_maker:update_synonym' %}">Update Synonyms Questions</a>
  </div>
  <div>
    <a href="{% url 'question_maker:update_synonym_explanations' %}">Update Synonyms Explanations</a>
  </div>
  <div>
    <a href="{% url 'question_maker:analogies_questions' %}">Analogies Questions</a>
  </div>
{% endblock %}
