{% extends "ace_it_test_prep/base.html" %}
{% block title %}Home{% endblock %}
{% block head %}

{% endblock %}
{% block header %}

{% endblock %}
{% block content %}
	<div class="container">
		<div class="row justify-content-center text-center my-1">
			<h1>Ace-It Test Prep</h1>
		</div>
		<div class="row justify-content-center text-center my-1">
			<h2>Sign-up!</h2>
		</div>
		<div class="row justify-content-center my-3">
			<div class="col-6 align-items-center">
				<form class="sign-up-form" action="{% url 'ace_it_test_prep:signup' %}" method="post">
					{% csrf_token %}
					<!-- {{ form }} -->
					<div class="form-group row">
						<label for="first_name" class="col-sm-4 col-form-label">First Name: </label>
						<input type="first_name" placeholder="First Name" name="first_name" class="col-sm-8">
					</div>
					<div class="form-group row">
						<label for="last_name" class="col-sm-4 col-form-label">Last Name: </label>
						<input type="last_name" placeholder="Last Name" name="last_name" class="col-sm-8">
					</div>
					<div class="form-group row">
						<label for="username" class="col-sm-4 col-form-label">Username: </label>
						<input type="username" placeholder="Username" name="username" class="col-sm-8">
					</div>
					<div class="form-group row">
						<label for="password" class="col-sm-4 col-form-label">Password: </label>
						<input type="password" placeholder="Password" name="password" class="col-sm-8">
					</div>
					<div class="form-group row">
						<label for="test_selection" class="col-sm-4 col-form-label">Choose Test: </label>
						<select id="test_selection" name="test_selection" class="col-sm-8">
							<option id="ssat" name="scat">SSAT</option>
						</select>
					</div>
					<div class="form-group row">
						<label for="user_type" class="col-sm-4 col-form-label">User Type: </label>
						<select id="user_type" name="user_type" class="col-sm-8">
							<option id="student" name="student" value="student">Student</option>
							<option id="parent" name="parent" value="parent">Parent</option>
							<option id="instructor" name="instructor" value="instructor">Instructor</option>
						</select>
					</div>
					<div class="text-center">
						<input class="col-sm-8 btn btn-primary mb-2" type="submit" value="Sign-Up">
					</div>
				</form>
		</div> <!-- container sign-up -->
	</div> <!-- container -->
{% endblock %}
