{% extends "ace_it_test_prep/base.html" %}
{% load ace_it_extras %}
{% block title %}Home{% endblock %}
  {% block head %}
  {% load static %}
  <script src="{% static 'scripts/practice_test_script.js' %}"></script>
  <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3.0.0/es5/tex-mml-chtml.js">
  </script>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'styles/ace_it_test_prep/practice_test.css' %}"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'styles/ace_it_test_prep/practice_test.css' %}">
  {% endblock %}
{% block header %}

{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <h1>Practice Test 1 - {{ section|title }}</h1>
  </div>
  <div class="row">
    <input type="hidden" class="remaining_time" value="0">
  	<div class="container">
  		<div class="top-div row">
        <h5 class="timer border rounded mb-2 p-2"><span>Time Remaining: </span><span class="mins">{{ time_limit }}</span>:<span class="secs">00</span></h5>
        <input type="hidden" class="remaining_time" value="0">
        <input type=hidden class="timer mins" id="time_remaining_mins" value="{{ time_limit }}">
        <input type=hidden class="timer secs" id="time_remaining_secs" value="00">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="pagination container" id="question_num_btns">
          <ul class="pagination row">
          {% for num in question_nums_range %}
          <li class="page-item mb-1"><span class="question_num_btn page-link" id="question_num_btns_index_{{forloop.counter0}}">{{ forloop.counter }}</span></li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
      
  		<!-- <div class="questions"> -->

      <!-- <div>Average Time Remaining Per Question: <span>24</span> seconds per question</div> -->
      {% if section.name == "reading" %}
      <div class="row">
        <div class="question_container container">
          <div class="row pb-2">
            <h3 id="passage_title">
              Passage <span id="passage_id_number">1</span></h3>
            </h3>
          </div>
          <div class="row">
            <div class="border rounded p-3" id="passage">{{ passages.0 }}</div>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="row">
        <div class="question-detail-container container">
          <h6>
            <span id="num">{{ data.0.question.number }}. </span>
            <span id="question">{{ data.0.question.question_text|safe }}</span>
          </h6>
          <input id="question_id" type="hidden" value="{{data.0.question.id}}">
          <div>{{ context.0.question.question_detail_text|safe }}</div>
          <div>
            {% if data.0.question.diagram_src != "None" %}
            <img id="diagram" src="{{ data.0.question.diagram_src }}">
            {% endif %}

          </div>
        </div>
      </div>    
      <div class="row">
        <div class="answer_choices_container container">

          <div class="answer_choices" style="margin: 1em;"> 
            {% for answer_choice in data.0.answers %}
              <div><span id="eliminate_option_btn_{{forloop.counter0}}" class="eliminate_option_btn"><i class="fas fa-times pr-2"></i></span><span id="{{ answer_choice.value }}" class="answer_choice">{{ forloop.counter|to_char }}. {{ answer_choice.option|safe }}</span></div>
            {% endfor %}


            <div class="answer_options_container">
            </div>
          </div>

          <div id="question-nums"></div>
          <!-- <form class="submit_test_form" method="POST", action="{% url 'ace_it_test_prep:submit_section' %}">
            {% csrf_token %}
            <input type="submit" id="submit_test" value="Submit Test">
            <input type="hidden" id="session_id" name="session_id" value="">
            <input type="hidden" id="test_id" name="test_id" value="">
          </form> -->
        </div>
      </div>
      <div class="row">
        <div aria-label="Page navigation buttons" class="text-xs-center container">
          <ul class="navigation-btns pagination justify-content-center">
            <li class="page-item">
              <span class="page-link navigation-btn" id="back-btn">Back</span>
            </li>
            <li class="page-item">
              <span class="page-link navigation-btn" id="next-btn">Next</span>
            </li>
          </ul>
        </div>
      </div>
        
        <div class="container">
          <!-- <div class="navigation-btns container">
            <div class="navigation-btns-container">
              <span class="navigation-btn" id="back-btn">Back</span>
              <span class="navigation-btn" id="next-btn">Next</span>
            </div>
          </div> -->
          <div class="test_section">
            <form class="text-center pb-4" action="{% url 'ace_it_test_prep:submit_section' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" id="test_session_id" name="test_session_id" value="{{ test_session_id }}">
              <input type="hidden" id="question_nums" name="question_nums" value="{{ question_nums }}">
              <input type="hidden" id="section" name="section" value="{{ section }}">
              <button class="btn btn-primary" type="submit">Finish and Submit Test Section</button>
            </form>
          </div>
        </div>

  	<!-- </div> -->
  
  
  
  
  </div>
</div>
</div>


  	{% load static %}
  		<!-- <script src="{% static 'prep/scripts/practice_test_script.js' %}"></script> -->
  		<!-- <script>
  			var answerOptions = document.getElementsByClassName("answer-option");
  	    // var context = JSON.parse("{{ context | escapejs }}");
        var context = JSON.parse({{ context | escapejs }})
        var static_url = "{% static '' %}";
        console.log("context: " + context)
        // contextArr = JSON.parse('{{ context_arr | escapejs }}');
  		</script> -->

      <script>
        if ("{{ section }}" == 'reading') {
          var current_section = "reading"
          passages = JSON.parse({{ passages|safe }})
          console.log("passagesA: ", passages)
        }
        var None = null
        testing = "{{ testing }}"
        console.log("testing: ", testing)
        data = {{ data|safe }}
        console.log("data: ", data)
        
      </script>

      <script src="{% static 'scripts/practice_test.js' %}"></script>
  		<script src="{% static 'scripts/timer.js' %}"></script>


      {% endblock %}
