<div>
  <div class="option_columns">
    <div class="option_column" id="column_a">
      <div class="column_header">Column A</div>
      <div class="option_text" id="option_column_a">{{ context.0.question.option_column_a }}</div>
    </div>
    <div class="option_column" id="column_b">
      <div class="column_header">Column B</div>
      <div class="option_text" id="option_column_b">{{ context.0.question.option_column_b }}</div>
    </div>
  </div>
</div>
<div class="answer_choices_container">

  <div class="answer_choices">
    <div class="timer"><span class="mins">22</span>:<span class="secs">00</span></div>
    <input type="hidden" class="remaining_time" value="0">
    <input type=hidden class="timer mins" id="time_remaining_mins" value="22">
    <input type=hidden class="timer secs" id="time_remaining_secs" value="00">
    <div class="answer_choice" id="0">A</div>
    <div class="answer_choice" id="1">B</div>
    <div class="answer_choice" id="2">C</div>
    <div class="answer_choice" id="3">D</div>
  </div>
</div>
