{% extends "ace_it_test_prep/base.html" %}
{% block title %}Home{% endblock %}
{% block head %}

{% endblock %}
{% block header %}

{% endblock %}
{% block content %}

<div>
  <h1>Vocabulary Practice</h1>
  <ul>
    <li>
      <a href="{% url 'ace_it_test_prep:vocabulary_practice' %}">Vocabulary Practice</a>
    </li>
    <li>
      <a href="{% url 'ace_it_test_prep:vocabulary_flashcards_overview' %}">Flashcards</a>
    </li>
    <li>
      <a href="{% url 'ace_it_test_prep:vocabulary_roots_practice_synonyms' %}">Vocabulary Roots Practice - Synonyms</a>
    </li>
    <li>
      <a href="{% url 'ace_it_test_prep:vocabulary_by_category' %}">Vocabulary Categories Practice</a>
    </li>
    
  </ul>
  
  <h1>Synonyms Practice</h1>
  <a></a>
  <h1>Analogies Practice</h1>
  <a></a>
</div>


{% endblock %}
